{% extends "base.html" %}

{% block title %}
Perfil
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
{% endblock %}

{% block content %}
    <h1>Perfil</h1>

    <div class="container">

    <!-- Barra superior -->
    <div class="topo">
      Dados do usuário
    </div>

    <!-- Caixa -->
    <div class="card">

      <div class="campo">
        <label>Usuário</label>
        <input type="text" value= "{{ current_user.username | padronizar_titulo }}">
      </div>

      <div class="campo">
        <label>E-mail</label>
        <input type="email" value="{{ current_user.email }}">
      </div>

      <!--
      <div class="campo">
        <label>Telefone</label>
        <input type="text" value=" - ">
      </div>
      -->

      <!-- Botões -->
      <div class="botoes">
        <button class="btn editar">Editar</button>
        <button class="btn atualizar">Atualizar</button>
        <button class="btn excluir">Excluir Conta</button>
      </div>

    </div>

  </div>

{% endblock %}