  {% extends "base.html" %}

  {% block title %}
  Perfil
  {% endblock %}

  {% block style %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
  {% endblock %}

  {% block content %}
      <h1>Perfil</h1>

      <div class="container">

      <form method="POST"
      action="{{ url_for('financeiro.atualizar_perfil') }}">

          <div class="campo">
              <label>Usuário</label>

              <input type="text"
              name="username"
              value="{{ current_user.username }}">
          </div>

          <div class="campo">
              <label>E-mail</label>

              <input type="email"
              name="email"
              value="{{ current_user.email }}">
          </div>

          <div class="campo">
              <label>Telefone</label>

              <input type="text"
              name="telefone"
              value="{{ current_user.telefone }}">
          </div>

<div class="botoes">

    <button type="button"
    id="btn editar"
    class="btn editar">
        Editar
    </button>

    <button type="submit"
    class="btn atualizar">
        Atualizar
    </button>

    <form action="{{ url_for('financeiro.excluir_conta') }}" method="POST">

        <button 
            type="submit"
            class="btn-excluir"
            onclick="return confirm('Você tem certeza que deseja apagar sua conta? Todos os seus dados serão excluídos permanentemente e não poderão ser recuperados.')">

            Excluir Conta

        </button>

    </form>

    </div>

  <script>

  const btnEditar = document.getElementById("btn-editar");

  btnEditar.addEventListener("click", () => {

      const inputs = document.querySelectorAll("input");

      inputs.forEach(input => {
          input.removeAttribute("readonly");
      });

  });

  </script>

  {% endblock %}